*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: black;
    display: block;
    width:100%;
}

#headerTitle{
    display: flex;
    flex-shrink: inherit;
    width:100%;
    justify-content: center;
}

h1{
    color: darkgreen;
    font-size: 5rem;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 2rem;
    user-select: none;
    text-align: center;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    user-select: none;
}

h4{
    margin: 0 1rem;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width:100vb;
}

.logo{
    display: grid;
    max-width: 100px;
    max-height: 100px;
    margin: 1rem;
}

#logoL{
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    to{transform: rotate(360deg);}
}

#logoR{
    animation: etator 2s linear infinite;
}

@keyframes etator{
    to{transform: rotate(-360deg);}
}

#logo1{
    animation: flipY 2s linear infinite;
}

@keyframes flipY{
    0%{
        transform: perspective(400px) rotateY(0);
    }

    50% {
        transform: perspective(400px) rotateY(180deg);
    }

    100%{
        transform: perspective(400px) rotateY(360deg);
    }
}

nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0 0 1rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    display: inline;
    margin: 1rem 1rem;
    font-size: 1.2rem;
    user-select: none;
}

a:link, a:visited{
    background-color: darkgreen;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5%;
    text-decoration: none;
}

a:hover, a:active{
    background-color: green;
}

main{
    height: 100%;
    background-color: rgb(4, 83, 37);
    min-height:100vh;
    padding-bottom: 3rem;
}

div{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

div p{
    background-color: black;
    max-width: fit-content;
    color: white;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    border-radius: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    user-select: none;
    
}

footer{
    background-color: black;
    color: darkgreen;
}

footer p{
    padding: 1rem;
}

#formContainer{
    padding-top: 2rem;
}

form{
    width:40%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    background-color: rgb(4, 61, 24);
    max-width: 40%;
    min-width: fit-content;
    font-size: 1.3rem;
}

fieldset, legend{
    margin-bottom: 1rem;
}

fieldset{
    border: 1px solid black;
    padding: 1rem;
}

legend{
    font-size: 2rem;
}

fieldset input{
    margin-bottom: 0;
    padding:0.3rem;
}

button{
    background-color: white;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

#submitButton{
    width:15%;
    margin: 0 0 0 80%;
    min-width: fit-content;
}

#displayPlayers{
    width:200vb;
    display: flex;
    justify-content: center;
}

#playersUl{
    display: block;
    font-size: 1.2rem;
    list-style: circle;
}

#playersUl li{
    display:block;
}

#djPlayersUl{
    display: block;
    font-size: 1.2rem;
    list-style: circle;
}

#djPlayersUl li{
    display:block;
}

#clearPlayers{
    color:white;
    margin: 1rem auto;
    font-size: 1.1rem;
    font-weight: 700;
    background-color:rgb(175, 6, 0);
}

#clearPlayers:hover{
    background-color: rgb(255, 0, 0);
}

#startButton{
    font-size: 2rem;
    font-weight: 700;
    border: solid 3px black;
}

#drawButton:hover{
    cursor:pointer;
    color: green;
}

#rules{
    display: block;
    text-align: left;
    width: 100vb;
}

#rules div{
    display: block;
    max-width: 600px;
    margin-bottom: 0;
}

#rules h3{
    justify-content: left;
    margin: 2rem 1rem;
}

#rules h4{
    margin: 2rem 1rem 0;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:100vb;
    text-align: left;
    user-select: none;
}

#rules p{
    width:100vb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    color:black;
    font-size: 1.1rem;
    user-select: none;
}

#xyz{
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}

#xyz p{
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    user-select: none;
}

#displayCurrentPlayer{
    display: block;
    float:left;
    width: 100%;
    color: white;
    z-index: 1;
    text-align: left;
    margin: 0 1rem 0 0;
    padding: 1rem 1rem 0;
    user-select: none;
}

#displayCurrentPlayer h4{
    font-size: 3rem;
    display: flex;
    justify-content: left;
}

#displayCurrentPlayer li{
    display: flex;
    justify-content: left;
    font-size: 2rem;
}

#houseRules{
    display: block;
    margin: 0 auto;
    user-select: none;
}

#houseRules p{
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 800px;
}

#houseRules ol{
    display: block;
}

#houseRules li{
    display: block;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 800px;
    list-style:decimal
}

#diceButton{
    width:50%;
    display:block;
    float:left;
}

#diceButton button{
    margin: 1rem auto;
    display: block;
    height:fit-content;
}

#diceButton img{
    margin: 0 auto;
    display: block;
    width: 10%;
    height: auto;
    min-width: 70px;
}

#diceButton img:hover{
    width:20%;
}

section{
    width:100%;
    display:flex;
    justify-content: center;
}

section img{
    width: 50vb;
    height:fit-content;
    max-width: 1200px;
    border-radius: 5%;
    margin-bottom: 2rem;
}

section img:hover{
    width: 90vb;
}

#drawn{
    margin: 0;
    font-size: 1.5rem;
    border-radius: 0%;
    background-color: transparent;
    color: black;
}

#graveyardCount{
    margin: 0;
    font-size: 1.5rem;
    border-radius: 0%;
    background-color: transparent;
    color: black;
}

#discarded{
    border-radius: 5%;
}

#navButtons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height:fit-content;
}

#prevButton, #nextButton{
    min-width: 213px;
    font-size: 1.5rem;
    margin: 0;
    cursor: pointer;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

#prevButton:hover, #nextButton:hover{
    color: green;
}

#drawButton{
    height:fit-content;
}

.spin{
    animation: roll 0.5s infinite;
}

@keyframes roll {
    50%{
        transform: rotate(180deg);
        filter:blur(2rem)
    }
    100%{
        transform: rotate(360deg);
        filter:blur(0)
    }
}

#coinFlip{
    width:50%;
    display:block;
    float:left;
}

#coinFlip button{
    margin: 1rem auto;
    display: block;
    height:fit-content;
}

#coinFlip img{
    margin: 0 auto;
    display: block;
    width: 10%;
    height: auto;
    min-width: 70px;
}

#coinFlip img:hover{
    width:20%;
}

#rules{
    padding-top: 17rem;
}

#newPlayerNotice{
    display: inline-block;
    margin: 0;
    padding: 1rem;
    text-align: center;
    width:100%
}

#newPlayerNotice p{
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}

#newPlayerNotice h3{
    margin: 0;
}

.aboutMain{
    width: 100%;
    display: inline;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

.aboutMain h3{
    padding-top: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.aboutMain p{
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 100;
    max-width: 800px;
    margin: 0 auto;
}

.aboutMain ol{
    max-width: 800px;
    margin: 0 auto;
    display: block;
    list-style: decimal;
    padding-left: 3rem;
}

.aboutMain li{
    font-size: 1.1rem;
    display: block;
    list-style: decimal;
}

.aboutMain a{
    background-color: transparent;
    padding: 0;
    color: white;
}

.aboutMain a:hover{
    color: rgb(0, 153, 255);
}

.next{
    animation: next 0.5s linear;
}

@keyframes next{
    45%{
        transform:translateX(-400vb);
        opacity:0;
    }
    55%{
        transform:translateX(400vb);
        opacity:0;
    }
    100%{
        transform:translateX(0vb);
        opacity:1;
    }
}

.prev{
    animation: prev 0.5s linear;
}

@keyframes prev{
    45%{
        transform:translateX(400vb);
        opacity:0;
    }
    55%{
        transform:translateX(-400vb);
        opacity:0;
    }
    100%{
        transform:translateX(0vb);
        opacity:1;
    }
}

#chicken{
    width: 280px;
    position:absolute;
    right: 5rem;
    margin: 5rem 0 0 0;
}

#chickenP{
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 100;
    max-width: 700px;
    position:absolute;
    right: 5rem;
    margin: 32rem 0 0 10rem;
}

#jow{
    width: 280px;
    position:absolute;
    left: 5rem;
    margin: 5rem 0 0 0;
}

#jowP{
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 100;
    max-width: 700px;
    position:absolute;
    left: 5rem;
    margin: 29rem 0 0 1rem;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.7rem;
    padding-bottom: 1rem;
    text-align: center;
}

.indexSection{
    padding-top: 3rem;
    width: 100%;
    display: block;
    text-align: left;
}

.indexDiv{
    padding-top: 1rem;
    display: block;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.2);
}

.indexDiv p{
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 100;
    border-radius: 0;
}

.indexSection a{
    background-color: transparent;
    padding: 0;
    color: white;
}

.indexSection a:hover{
    color: rgb(0, 153, 255);
}

#cabbitImg{
    display: block;
    margin: 0 auto;
    width:200px;

}

#phSection{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(0, 56, 14);
}

.timerContainer{
    margin:1rem;
    display:flex;
}

.timer {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
    line-height: 40px;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top:0.25rem;
}

#phMain button{
    margin: 1rem;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
}

#timerMiddle{
    margin-top: 1rem;
}

#djMain{
    width:100%;
    margin: 0 auto;
    align-content: center;
    max-width: 100vw;
}

#diceButton2{
    width:100%;
    margin:0 auto;
    display:block;
    align-content:center;
    margin: 0 1rem;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width:100vb;
    max-width: 100vw;
}


#diceButton2 #totalRollHeader{
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 100;
    border-radius: 0;
    max-width: 100vw;
    
}

#diceButton2 #totalRoll{
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 100;
    border-radius: 0;
    margin: 1rem 0;
    max-width: 100vw;
}

#diceButton2 #targetRoll{
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 100;
    border-radius: 0;
    margin: 1rem 0;
    max-width: 100vw;

}

#diceButton2 button{
    margin: 0.5rem 1rem;
    display: inline;
    height:fit-content;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100vw;
}

#diceButton2 img{
    margin: 2rem 2rem;
    display: inline;
    width: 15%;
    height: auto;
    min-width: 70px;
    max-width: 200px;
    max-width: 100vw;
}

#notice{
    display: block;
    margin: 0 auto;
    user-select: none;
}

#notice p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 800px;
    color:black
}

#dicejackRulesHeader{
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
}

#dicejackRules{
    display:block;
}

#dicejackRules li{
    font-size: 1rem;
    display: block;
}